<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href="{{site.url}}}"><img alt="AS" src="{{site.url}}img/logo2.png"></a>
				
			</div>

			<div class="col-md-10">
                    <p><a href="{{site.url}}about.html">关于我们</a> | <a href="{{site.url}}service.html">服务条款</a> | <a href="{{site.url}}about.html">联系我们</a> | 创意惊艳世界</p>
                    <p>Copyright &copy; 2014 AppSense Studio. All Rights Reserved. AS工作室 版权所有</p>
             </div>
		</div>
		
	</div>
</div>

  	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://libs.baidu.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  	<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5f8825662c91e15bce3622bdff90df5b' type='text/javascript'%3E%3C/script%3E"));
</script>


  </body>
  </html>
